body{
    height: 100vh;
    margin: 0;
    font-family: "Aclonica", sans-serif;
    
}

a{
    all: unset;
}

body > header {
    width: 100%;
    height: 10%;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    color: #C2402E;
    font-family: "Aclonica", sans-serif;
    justify-content: space-between;
}

header p{
    margin-left: 2%;
}

header h1{
    margin-left: 2%;
}

main{
    background-color: #643E2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > img{
    width: 75%;
}

main header{
    color: #F3E5AB;
    width: 75%;
}

main header h1{
    margin-left: 0;
}

main header p{
    margin-left: 0;
    font-size: 22px;
}

main article{
    width: 75%;
    display: flex;
    flex-direction: row;
    color: #F3E5AB;
}

main article section{
    width: 50%;
    font-size: 22px;
}

main footer {
    width: 75%;
    display: flex;
}

main footer section{
    color: #F3E5AB;
}

main footer nav{
    width: 50%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

main footer nav p{
    color: #F3E5AB;
    font-size: 42px;
    margin-left: 5%;
    border-bottom: solid 2px #F3E5AB;
}

main footer nav p:hover{
    color: #C2402E;
    transition: 0.3s;
    border-bottom: solid 2px #C2402E;
}

body > footer{
    width: 100%;
    height: 15%;
    background-color: #7A8450;
    color: #F3E5AB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body > footer > section{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}

#aperitivos-footer nav p.selected {
    color: #C2402E;
    border-bottom: solid 2px #C2402E;
}
